@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap");
body{
    background-color: #f7f9fe;
}
.head{
    background-image: url(imgs/shape-a.png) ;
}
.highlight{
    font-family: "Montserrat Alternates", sans-serif;
    color: #4f6189;
  
    font-size: 1.5em;
}
.item{
    color: #4f7bea;
}
.nav-link:active {
  color: blue;
}
.button{
    background-color: #4f7bea;
    border-radius: 25px;
    color: white;
    border-color: #4f7bea;
}
.nav-link{
    font-weight: 700;
    color: #4f6189;
}
.floating-head{
    transform: translateY(-50px);
    border-radius: 50%; 
    float: right ;
    height: 80px; 
    width: 80px;
    filter: drop-shadow(0px 0px 10px #4899fc);
}
 .new-card{
    background-color: #f7f9fe;
    border: 0ch;
 }
 .circular-img{
  border-radius: 50%;
  width: 130px;
  height: 130px;
 }
 .wash-text{
  margin: 20px ;
  font-weight: bold;
 }
 .blue-section{
  background-color: #2766bb;
  color: white;
  background-image: url(imgs/shape-a.png);
 }
 ul {
list-style-type: none;
 }
li {
  list-style-type: none;
}
 .dont-img{
  border-radius: 50%;
  border-style: solid;
  border-color: #e74b37;
  height: 80px;
  width: 80px;
 }
 .do-img{
  border-radius: 50%;
  border-style: solid;
  border-color: green;
  height: 80px;
  width: 80px;
 }
div.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} 
h1 {
  text-align: center;
}

/* Sets the width for the accordion. Sets the margin to 90px on the top and bottom and auto to the left and right */
@media only screen and (min-width: 992px) {
  .large-card{
    transform: translateY(-35px);
    
  }
  .dont-img{
    transform: translateX(180px);
  }
  .fa-xmark{
    transform: translateX(180px);
  }
}
.acordionBoxes {
  width: 90%;
  border: 1px solid gray;
  margin-bottom: 20px;
  padding: 12px 20px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.acordionBoxes:active {
  border: 1px solid rgb(2, 117, 216);
}

footer{
  background-color: #151c2e;
  color: white;
  background-image: url(imgs/shape-a.png);
}
