@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap");
body{
    background-color: #f7f9fe;
}
.head{
    background-image: url(imgs/shape-a.png) ;
}
.highlight{
    font-family: "Montserrat Alternates", sans-serif;
    color: #4f6189;
  
    font-size: 1.5em;
}
.item{
    color: #4f7bea;
}
.button{
    background-color: #4f7bea;
    border-radius: 25px;
    color: white;
    border-color: #4f7bea;
}
.nav-link{
    font-weight: 700;
    color: #4f6189;
}
.floating-head{
    transform: translateY(-50px);
    border-radius: 50%; 
    float: right ;
    height: 80px; 
    width: 80px;
    filter: drop-shadow(0px 0px 10px #4899fc);
}
 .new-card{
    background-color: #f7f9fe;
    border: 0ch;
 }
 .circular-img{
  border-radius: 50%;
  width: 130px;
  height: 130px;
 }
 .wash-text{
  margin: 20px ;
  font-weight: bold;
 }
 .blue-section{
  background-color: #2766bb;
  color: white;
  background-image: url(imgs/shape-a.png);
 }
 ul {
list-style-type: none;
 }
li {
  list-style-type: none;
}
 .dont-img{
  border-radius: 50%;
  border-style: solid;
  border-color: #e74b37;
  height: 80px;
  width: 80px;
 }
 .do-img{
  border-radius: 50%;
  border-style: solid;
  border-color: green;
  height: 80px;
  width: 80px;
 }
div.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} 
h1 {
  text-align: center;
}

/* Sets the width for the accordion. Sets the margin to 90px on the top and bottom and auto to the left and right */

.accordion {
  color: black;
  background-color: white;
}
accordion .container {
  position: relative;
  margin: 10px 10px;
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .label {
  position: relative;
  padding: 10px 0;
  color: #4f6189;;
  cursor: pointer;
  font-weight: bold;
  

}
.accordion .label::before {
  content: '+';
  color:  #4f6189;;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content {
  position: relative;
  padding: 5px;
  background: white;
  height: 0;
  text-align: justify;
  overflow: hidden;
  transition: 0.5s;
}

/* Adds a horizontal line between the contents */

.accordion hr {
  margin-left: 0;
  border: 1px solid grey;
}
/* Unhides the content part when active. Sets the height */

.accordion .container.active .content {
  height: 150px;
}

/* Changes from plus sign to negative sign once active */

.accordion .container.active .label::before {
  content: '-';
  color: blue;
}
.large-card{
  transform: translateY(-20px);
}
footer{
  background-color: #151c2e;
  color: white;
  background-image: url(imgs/shape-a.png);
}